@import url("reset.css");

body{
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial;
    line-height: 1.6;
    
}

.wrapper{
    max-width: 100%;
}


/* top strat */
.top{
    width: 100%;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0 auto;
    

    background-image:url(../img/aboutBG.png);
    /* width: 100%; */
    height: 700px;
    background-position: center,center;
    display: flex
}
.top img{
    margin: 20px;
}

a img{
    width: 150px;
}

.top a{
    text-decoration: none;
    font-size: 28px;
    height: 100px;
    color: white;
    text-shadow: 8px 8px 5px black;
    
    
}

.top ul{
    display: flex;
}

.top nav{
    background-image: linear-gradient(to bottom, #eeeeee 35%, rgba(255, 255, 255,0) 95%);
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}


.top li{
    margin-top: 50px;
    margin-left: 55px;
    display: block;
}


nav .menu-btn{
    color: black;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}
@media screen and (max-width:576px){
    
    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        max-width: 100%;
        height: 100vh;
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
        margin: 0 0;
        }

        div.top a{
            max-width: 100%;
            display: block;
            height: 60px;
        }

        div.down{
            max-width: 100%;
        }

        div.down ul{
            max-width: 100%;
            height: 480px;
        }

        div.down li{
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

        div.down li:first-child {
            height: 470px;
        }

        div.down li:first-child img{
            margin-left: 100px;
        }

        div.down li img{
            max-width: 100%;
        }

        div.down li h2{
            margin-bottom: 20px ;
            margin-top: 10px;
        }

        div.down li p{
            margin-bottom: 20px;
            margin-top: 0px;
            text-align: center;
        }

        div.footer{
            width: 100%;
            height: 375px;
        }

        div.down2{
            width: 100%;
        }
        
        div ul li{
            flex-wrap: wrap;
        }

        div ul li .imgright{
            display: none;
        }

        div.main{
            right: -50%;
        }
        
        div.down2{
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div.down2 h2{
            width: 100%;
        }
        
        div.down li img{
            margin: 0 0;
        }

        div.down2 img{
            margin: 10px 0;
        }
}

@media screen and (min-width: 575.98px) and (max-width:767.98px){

    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        max-width: 100%;
        height: 100vh;
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
        margin: 0px 0;
        }

        div.top a{
            max-width: 100%;
            display: block;
            height: 60px;
        }

        div.down{
            max-width: 100%;
        }

        div.down ul{
            max-width: 100%;
            height: 520px;
        }

        div.down li{
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

        div.down li:first-child {
            height: 470px;
        }

        div.down li:nth-child(2){
            display: none;
        }

        div.down li:first-child img{
            margin-left: 330px;
        }

        div.down li img{
            max-width: 100%;
        }

        div.down li h2{
            text-align: center;
        }

        div.down li p{
            margin-bottom: 20px;
            margin-top: 0px;
            text-align: center;
        }

        div.down2{
            width: 100%;
        }
        
        div ul li{
            flex-wrap: wrap;
        }

        div ul li .imgright{
            display: none;
        }

        div.main{
            right: -20%;
        }
        
        div.down2{
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div.down2 h2{
            width: 100%;
        }
        
        div.down li img{
            margin: 0 0;
        }

        div.down2 img{
            margin: 10px 0;
        }

        div.main{
            right: -20%;
        }

        div.footer{
            width: 100%;
            height: 375px;
        }
}

@media screen and (min-width: 768px) and (max-width: 990.98px){

    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        max-width: 100%;
        height: 100vh;
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
        margin: 30px 0;
        }

        div.top a{
            max-width: 100%;
            display: block;
        }

        div.down{
            max-width: 100%;
        }

        div.down ul{
            max-width: 100%;
            height: 520px;
            flex-wrap: nowrap;
        }

        div.down li{
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

        div.down li:first-child {
            height: 470px;
        }

        div.down li:nth-child(2){
            display: block;
        }

        div.down li:first-child img{
            margin-left: 50px;
        }

        div.down li img{
            max-width: 100%;
        }

        div.down li .imgright{
            width: 460px;
        }

        div.down li h2{
            text-align: center;
            margin-top: 22px;
            margin-left: 28px;
        }

        div.down li p{
            margin-bottom: 20px;
            margin-top: 0px;
            text-align: center;
            margin-left:  30px;
        }



        div.down2{
            width: 100%;
        }
        
        div ul li{
            flex-wrap: wrap;
        }

        div ul li .imgright{
            /* display: none; */
        }

        div.main{
            right: -50%;
        }
        
        div.down2{
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div.down2 h2{
            width: 100%;
        }
        
        div.down li img{
            margin: 0 0;
        }

        div.down2 img{
            margin: 10px 0;
        }

        div.main{
            right: -20%;
        }

        div.footer{
            width: 100%;
            height: 230px;
        }

}

@media screen and (min-width: 991px) and (max-width: 1199.98px){
    div.down ul{
        max-width: 100%;
    }

    div.main{
        right: -50%;
    }

    div.footer{
        width: 100%;
        height: 230px;
    }

    div.down{
        max-width: 100%;
    }

    div.down p{
        margin-bottom: 21px;
    }

    div.down h2{
        margin-top: 36px;
    }

    div.down li:nth-child(1){
        height: 0;
    }
    div.doww li:nth-child(2){
        margin-top: 20px;
        margin-left: 0px;
    }

    div.down ul li .imgright{
        width: 444px;
        margin-left: 390px;
        margin-top: 48px;
    }

    div.down2{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    div.down2 h2{
        width: 100%;
    }

    div.down2 img{
        margin-left: 70px;
    }
}

/* top end */

/* main strat */

.main{
    position: fixed;
    display: block;
    background-image: linear-gradient( 270deg , #eeeeee 40%, rgba(255,255,255,0) 80%);
    right: 0;
    top: 35%;
    z-index: 100;
    
}
.main ul{
    width: 100px;
    height: 330px;
}

.main ul li{
    display: block;
    width: 100px;
    height: 100px;
    padding-bottom: 50px;
    opacity: .8;
}

.main li h1{
    font-size: 48px;
    text-align: center;
    color: red;
}

.main li h2{
    font-size: 24px;
    text-align: center;
}
.main li:nth-child(3){
    text-align: center;
}

.main li:last-child a{
    text-align: center;
}
.main li a button{ 
    text-align: center;
}
/* main end */

/* down start */
.down{
    margin: 20px auto;
    width: 1200px;
    /* border: 2px solid black; */
    background-color: #eeeeee;
}

.down h2{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 100px;
}
.down p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 112px;
}

.down ul{
    display: flex;
    flex-wrap:wrap;
}


.down li:first-child img{
    margin-left: 20px;
}

.down li:nth-child(1){
    
    width: 400px;
    height: 250px;
}

.down li:nth-child(2){
    margin-top: 20px;
    margin-left: 150px;
}


.down img:last-child{
    
}

/* down end */

/* down2 start */

.down2{
    margin: 0 auto;
    width: 1200px;
    background-color: #eeeeee;
    margin-bottom: 30px;
}

.down2 h2{
    text-align: center;
    font-size: 36px;
}

.down2 img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

/* down end */

.back-to-top {
    display: none; /* 默认是隐藏的，这样在第一屏才不显示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 显示在页面底部 */
    right: 30px; /* 显示在页面的右边 */
    z-index: 99; /* 确保不被其他功能覆盖 */
    border: 1px solid #5cb85c; /* 显示边框 */
    outline: none; /* 不显示外框 */
    background-color: #fff; /* 设置背景背景颜色 */
    color: #5cb85c; /* 设置文本颜色 */
    cursor: pointer; /* 鼠标移到按钮上显示手型 */
    padding: 10px 15px 15px 15px; /* 增加一些内边距 */
    border-radius: 10px; /* 增加圆角 */
  }
  
  .back-to-top:hover {
    background-color: #5cb85c; /* 鼠标移上去时，反转颜色 */
    color: #fff;
  }



  
  .back-to-top:hover {
    background-color: #5cb85c; 
    color: #fff;
  }




/* foot start */
.footer{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    background-color: black; 
}

.footer img{
    width: 150px;
    margin: 20px;
    margin-left: 30px;
    float: left;
}

.footer li{
    display: block;
    float: right;
    float: left;
}

.footer  a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer p{
    color: white;
    float: right;
    float: left;
    display: inline-block;
    margin-top: 30px;
    margin-left: 25px;
}
