@import url("reset.css");

body{
    
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial;
    line-height: 1.6;
}


.wrapper{
    position: relative;
}

/* top strat */
.top{
    width: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image:url(../img/severBG.png);
    height: 700px;
    background-position: bottom,right;
    display: flex
}
.top img{
    margin: 20px;

}

a img{
    width: 150px;
}

.top a{
    text-decoration: none;
    font-size: 28px;
    height: 100px;
    color: white;
    text-shadow: 8px 8px 5px black;
    
    
}

.top a:hover{
    /* color: rgb(246, 0, 0); */
}

.top ul{
    display: flex;
}

.top nav{
    background-image: linear-gradient(to bottom, #eeeeee 35%, rgba(255, 255, 255,0) 95%);
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}


.top li{
    margin-top: 50px;
    margin-left: 55px;
    display: block;
    /* background-color: white; */
    /* opacity: 0.8; */
}


/* top end */

/* main strat */

.main{
    position: fixed;
    display: block;
    background-image: linear-gradient( 270deg , #eeeeee 40%, rgba(255,255,255,0) 80%);
    right: 0;
    top: 35%;
    z-index: 100;
    
}
.main ul{
    width: 100px;
    height: 330px;
}

.main ul li{
    display: block;
    width: 100px;
    height: 100px;
    padding-bottom: 50px;
    opacity: .8;
}

.main li h1{
    font-size: 48px;
    text-align: center;
    color: red;
}

.main li h2{
    font-size: 24px;
    text-align: center;
}
.main li:nth-child(3){
    text-align: center;
}

.main li:last-child a{
    text-align: center;
}
.main li a button{ 
    text-align: center;
}
/* main end */

#click{
    display: none;
}

nav .menu-btn{
    color: black;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:576px){

    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        width: 100%;
        height: 100vh;
    }

    #click:checked ~ .menu-btn ::before{
        content: "\f00d";
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
    margin: 30px 0;
    }

    div.top a{
        max-width: 100%;
        display: block;
    }


    div.down ul{
        max-width: 100%;
        height: 850px;
    }

    div.down ul li{
        height: 850px;
    }

    div.down1 ul{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    div.down1 ul li h2{
        margin-left: 200px ;
    }

    div.down1 ul li .downleft{
        float: none;
        margin-right: 0;
        margin-left: 22px;
    }

    div.down1 ul li .downright{
        margin-left: 22px;
    }


    div.main{
        right: -50%;
    }

    div.footer{
        width: 100%;
        height: 375px;
    }
}

@media screen and (min-width: 575.98px) and (max-width:767.98px){
    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        width: 100%;
        height: 100vh;
    }

    #click:checked ~ .menu-btn ::before{
        content: "\f00d";
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
    margin: 30px 0;
    }

    div.top a{
        max-width: 100%;
        display: block;
    }


    div.down ul{
        max-width: 100%;
        height: 850px;
    }

    div.down ul li{
        height: 850px;
        display: flex;
        flex-wrap: wrap;
    }

    div.down ul li h2{
        padding-top: 0;
        width: 100%;
    }

    div.down ul li img{
        width: 100%;
    }

    div.down1 ul{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    div.down1 ul li h2{
        margin-left: 200px ;
    }

    div.down1 ul li .downleft{
        float: none;
        margin-right: 0;
        margin-left: 22px;
    }

    div.down1 ul li .downright{
        margin-left: 22px;
    }


    div.main{
        right: -50%;
    }

    div.footer{
        width: 100%;
        height: 375px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990.98px){
    div .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
    }

    div.top nav{
        justify-content: normal;
    }

    div.top{
        width: 100%;
        height: 100vh;
    }

    #click:checked ~ .menu-btn ::before{
        content: "\f00d";
    }

    #click:checked ~ ul{
        left: 0%;
    }


    div.top ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }

    div.top ul li{
    margin: 30px 0;
    }

    div.top a{
        max-width: 100%;
        display: block;
    }


    div.down ul{
        max-width: 100%;
        height: 850px;
    }

    div.down ul li{
        height: 850px;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    div.down ul li h2{
        padding-top: 0;
        width: 100%;
    }

    div.down ul li img{
        /* width: 700px; */
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    div.down1 ul{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    div.down1 ul li h2{
        width: 100% ;
    }

    div.down1 ul li .downleft{
        float: none;
        margin: 0 auto;
    }

    div.down1 ul li .downright{
        margin: 0 auto;
    }


    div.main{
        right: -50%;
    }

    div.footer{
        width: 100%;
        height: 375px;
    }
}

/* down start */
.down ul{
    margin: 40px auto;
    width: 1200px;
    
}

.down li{
    background-color: #eeeeee;
    height: 700px;
    height: 466px;
    margin-top: 70px;   
}

.down img{
    width: 700px;
    float: right;
}



/* .down img:nth-child(){
    border-radius: 0 25px 25px 0 ;
} */

.donw1{
    width: 1200px;
    
}


.down li h2{
    /* color: black; */
    padding-top: 35px;
    color: black;
    font-size: 30px;
    text-align: center;
}

.donw1 table{
    width: 800px;
    margin: 0 auto;
}

.down1 h2{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.down1 ul{
    width: 1200px;
    margin: 0 auto;
    background-color: #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.down1 ul li {
    margin-top: 20px;
    
}

.down1 tr {
    width: 800px;
    border:  1px solid #eeeeee;
}

.down1 td{
    padding: 30px  64px;
    border:  1px solid #eeeeee;
}
tr:nth-child(even){
    background-color: gray;
    color: white;
}

.downleft{
    float: left;
    margin-right: 60px;
    margin-left: 50px;
}

.downright{

}

/* down end */


.back-to-top {
    display: none; /* 默认是隐藏的，这样在第一屏才不显示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 显示在页面底部 */
    right: 30px; /* 显示在页面的右边 */
    z-index: 99; /* 确保不被其他功能覆盖 */
    border: 1px solid #5cb85c; /* 显示边框 */
    outline: none; /* 不显示外框 */
    background-color: #fff; /* 设置背景背景颜色 */
    color: #5cb85c; /* 设置文本颜色 */
    cursor: pointer; /* 鼠标移到按钮上显示手型 */
    padding: 10px 15px 15px 15px; /* 增加一些内边距 */
    border-radius: 10px; /* 增加圆角 */
  }
  
  .back-to-top:hover {
    background-color: #5cb85c; /* 鼠标移上去时，反转颜色 */
    color: #fff;
  }

/* foot start */
.footer{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    background-color: black; 
}

.footer img{
    width: 150px;
    margin: 20px;
    margin-left: 30px;
    float: left;
}

.footer li{
    display: block;
    float: right;
    float: left;
}

.footer  a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer p{
    color: white;
    float: right;
    float: left;
    display: inline-block;
    margin-top: 30px;
    margin-left: 25px;
}
