@import url("reset.css");

body{
    font-size: 16px;
    font-family: Arial;
    line-height: 1.6;
    /* background-image: url(../img/pexels-pixmike-413195.jpg); */
    /* margin-top: 25px; */
    /* background-image: url("../img/pexels-pixmike-413195.jpg"); */
}




/* top strat */
.top{
    width: 1440px;
    height: 500px;
    display: block;
    margin: 0 auto;
    /* border: 5px solid red; */
    background-image: url(../img/bg1.png);
    width: 100%;
    height: 700px;
    
    background-position: bottom,center;
}
.top img{
    padding-bottom: 5px;
    border-bottom: 3px solid orange;
}

a img{
    float: left;
    width: 150px;
    margin: 20px;
    margin-left: 250px;
}

a{
    text-decoration: none;
    font-size: 24px;
    color: red;
}

.top a:hover{

}
.top li{
    margin-top: 50px;
    margin-right: 15px;
    display: block;
    float: right;
    background-color: white;
    opacity: 0.8;
}
/* top end */

/* main strat */
ul{
    width: 1440px;
}



.main{
    margin: 50px auto;
    width: 1200px;
    height: 220px;
    border-radius: 20px;
    background-image: url("../img/traces-gb840e54d2_640.jpg");
}
.main ul{
    margin: 0px auto;
    width: 1200px;
    height: 200px;
}

.main li{
    background-color: white;
    margin: 0px auto;
    width: 360px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 130px;
    margin-right: 105px;
}

.main li h2{
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}
.main li:last-child {
    margin: 0 0 0 0;
    margin-left: 545px;
    width: 100px;
    height: 50px;
    /* margin-left: 545px; */
}

.main li:last-child a{
    margin: 0 auto;
    height: 50px;
}
.main li a button{
    margin: 0 auto;
}
/* main end */


/* down start */
.down ul{
    margin: 40px auto;
    width: 1200px;
}

.down li{
    background-image: url("../img/traces-gb840e54d2_640.jpg");
    height: 700px;
    height: 466px;
    margin-top: 70px;   
}

.down img{
    width: 700px;
    float: right;
}
.down li h2{
    color: white;
    font-size: 24px;
    text-align: center;
}
.down li:nth-child(1) h2{
    margin: 150px 50px;
    float: left;
}



.down li:nth-child(2) h2{
    float: right;
    margin: 150px 50px;
    text-align: center;
}

.down li:nth-child(2) img{
    float: left;
}

.down li:nth-child(3) li{
    width: 1200px;
    height: 500px;
}

.down li:nth-child(3) h2{
    padding-top: 30px ;
    padding-bottom: 50px;
    font-size: 30px;
    text-align: center;
}

.down li:nth-child(3) img{
    float: none;
    width: 390px;
    margin-left: 5px;
}
/* down end */

/* foot start */

